xcuserdata
*.xcuserstate
*.xcodeproj/*
.DS_Store
screenshots.html
fastlane/report.xml
fastlane/test_output
fastlane/metadata
fastlane/screenshots/*/*.png
fastlane/screenshots/*.otf
fastlane/Preview.html
*.ipa
*.dSYM.zip
.idea
fabric
AuthKey_K665GM82PP.p8
